<div class="widget">
    <h3>Đăng kí nhận bản tin</h3>
    <div class="widget-subscribe">
        <div>
            <p>Đăng kí nhận bản tin mới nhất từ website</p>
        </div>
        <hr>
        @*<div class="alert-message alert-green">
            <strong>Success! This a success message</strong>
        </div>*@
        <!-- <div class="alert-message alert-red">
            <strong>Error! This an error message</strong>
        </div>
        <div class="alert-message">
            <strong>Warning! This a warning message</strong>
        </div> -->
        <form action="#">
            <label class="label-input">
                <span>Tên của bạn</span>
                <input type="text" value="">
            </label>
            <label class="label-input">
                <span>Địa chỉ email</span>
                <input type="email" value="">
            </label>
            <input type="submit" class="button" value="Subscribe">
        </form>
    </div>
</div>
