@using ShopWatches.Models
@{
    ShopWatchesEntities1 shop = new ShopWatchesEntities1();
    var sp = shop.SanPhams.ToList().Skip(0).Take(10);
}

<div class="widget">
    <h3>Sản phẩm mới</h3>
    <div class="widget-article-list">

        @foreach (var item in sp)
            {
            <div class="item">
                <div class="item-header">

                    <a href="/Home/ChiTietSp/@item.MaSP"><img src="@item.Anh" alt="" style="width: 50px;height: 50px"></a>
                </div>
                <div class="item-content">
                    <h4><a href="/Home/ChiTietSp/@item.MaSP">@item.TenSP</a></h4>
                    <span class="item-meta">
                        <a href="#"><i class="fa fa-comment-o"></i>@item.NgayDang</a>
                        <a href="#"><i class="fa fa-clock-o"></i>@item.HangSanXuat.TenHang</a>
                    </span>
                </div>
            </div>

        }


        <a href="/Home/ChuyenMuc" class="button-read-more">Xem thêm</a>

    </div>
</div>