
@*<div class="widget" style="box-shadow: none">*@
    <div class="search-bar">
        <form action="/Home/TimKiem" method="GET">
            <h3>

                <input type="text" name="search" value="Tìm kiếm" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Tìm kiếm';}">
                <input type="submit" value="">
            </h3>
        </form>
    </div>
@*</div>*@
    
