@using ShopWatches.Models
@{
    ShopWatchesEntities1 shop = new ShopWatchesEntities1();
    var tin = shop.TinTucs.OrderByDescending(t => t.NgayDang).ToList();
}
@using PagedList
@using PagedList.Mvc

<div class="content-panel-title">
    <h2>Tin mới</h2>
</div>
<div class="content-panel-body article-list">

    @foreach (var item in tin)
    {
        <div class="item" >
            <div class="item-header">
                <a href="/Home/ChiTietTinTuc/@item.MaTin">

                    <img src="@item.Anh" alt="" style="width: 326px;height: 220px">
                </a>
            </div>
            <div class="item-content">
                <h3>
                    <a href="/Home/ChiTietTinTuc/@item.MaTin">@item.TieuDe</a>
                </h3>
                <span class="item-meta">
                    <a href="#"><i class="fa fa-comment-o"></i>@shop.TaiKhoans.SingleOrDefault(t => t.MaTaiKhoan == item.NguoiDang).TenTaiKhoan</a>
                    <a href="#"><i class="fa fa-clock-o"></i>@item.NgayDang</a>
                </span>
                <a href="/Home/ChiTietTinTuc/@item.MaTin" class="read-more-button">Chi tiết<i class="fa fa-mail-forward"></i></a>
            </div>
        </div>

    }
   

</div>
<div style="padding-bottom: 25px; border-bottom: 1px solid #f0f0f0; margin-bottom: 25px;"></div>


<div class="content-panel-body pagination ">

    <a class="prev page-numbers" href="#"><i class="fa fa-angle-left"></i>Previous</a>
    <a class="page-numbers" href="#">1</a>
    <span class="page-numbers current">2</span>
    <a class="page-numbers" href="#">3</a>
    <a class="page-numbers" href="#">4</a>
    <a class="page-numbers" href="#">5</a>
    <a class="next page-numbers" href="#">Next<i class="fa fa-angle-right"></i></a>
</div>
