
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminMaster.cshtml";
}

@using ShopWatches.Models
@model List<ShopWatches.Models.HangSanXuat>
<link href="~/Content/dataTables.bootstrap.css" rel="stylesheet" />
<h1 class="page-header">
    <a href="/QLHang/ThemHang" class="btn btn-outline btn-primary">Thêm</a>
</h1>
<div class="dataTable_wrapper">
    <table class="table table-striped table-bordered table-hover" id="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Tên</th>
              
                <th>Sửa</th>
                <th>Xóa</th>
            </tr>
        </thead>
        <tbody>

            @for (int i = 0; i < Model.Count; i++)
            {
                if (i % 2 == 0)
                {
                    <tr class="even gradeA">
                        <td>@Model[i].MaHangSX</td>
                        <td>@Model[i].TenHang</td>
                  
                        <td><a href="/QLHang/SuaHang/@Model[i].MaHangSX" class="btn btn-outline btn-primary">Sửa</a></td>
                        <td><a href="/QLHang/XoaHang/@Model[i].MaHangSX" class="btn btn-outline btn-primary">Xóa</a></td>
                    </tr>
                }
                else
                {
                    <tr class="odd gradeA">
                        <td>@Model[i].MaHangSX</td>
                        <td>@Model[i].TenHang</td>
                
                        <td><a href="/QLHang/SuaHang/@Model[i].MaHangSX" class="btn btn-outline btn-primary">Sửa</a></td>
                        <td><a href="/QLHang/XoaHang/@Model[i].MaHangSX" class="btn btn-outline btn-primary">Xóa</a></td>

                    </tr>
                }
            }
        </tbody>
    </table>
</div>

@*<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>

<script src="~/Scripts/sb-admin-2.js"></script>*@
